.app-header {
  
    line-height: 60px;
    border-bottom:0px lightgrey solid;
}
@font-face {
    font-family: gotham;
    src: url('Gotham-Light.otf');
 }
 .overviewpage {
    background: #fff;
    margin-top: 2em;
	padding: 0px;
}
 .privacypage {
    background: #fff;
    margin-top: 2em;
	padding: 0px;
}
.prilist li {
    padding: 10px 0px;
}


.survey_txt {
    text-align: justify;
	padding:10px 0px;
}

.overviewpage h3
{
	color: #9FA0A3;
    text-transform: uppercase;
    font-size: 24px;
	margin-top: 12px;
	font-family: gotham;
    font-weight: 600;
}
.overview_txt
{
	font-family: gotham;
	font-size: 15px;
	text-align: justify;
	margin-bottom:5px;
}
.overview_italic {
    font-style: italic;
}

 .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.footer {
    background: #e6e7e8;
    color: #000;
    margin: 0em 0em;   
    padding: 1em;
}
.footer.row {
    width: 100%;
}
.text_rgt
{
	text-align:right;
}
.paddzero
{
	padding:0px;
}
 
    /*font-family: gotham;*/


div#body {
    background-color: #E6E7E8;
    float: left;
}

.head-text {
    float: left;
    margin-bottom: 10px;
}

.head-box {
    text-align: left;
    height: 100px;
    margin: 0px auto 0px auto;
    width: 1200px;  
}

.desbox {
    float: left;
    width: 49%;
}

.link-text {
    width: 83%;
    text-align: justify;
    margin: 0% 0% 0% 13%;
    font-family: gotham;
    font-size: 15px;
}
.link-textrgt {
    width: 83%;
    text-align: justify;
    margin: 0% 0% 0% 4%;
    font-family: gotham;
    font-size: 15px;
}

.linklead2 {
    float: left;
    padding-top: 7px;
	text-align: justify;
}
.head-text p.lead {
    width: 83%;
    text-align: justify;
    margin: 0% 0% 0% 13%;
    font-family: gotham;
    font-size: 15px;
}
.head-text p.leadrgt {
    width: 84%;
    text-align: justify;
    margin: 0% 0% 0% 4%;
    font-family: gotham;
    font-size: 15px;
}
.sub-head {
    width: 83%;
    text-align: left;
    margin: 0% 0% 1% 13%;
    font-family: gotham;
    font-size: 19px;
    font-weight: 700;
	color: #9FA0A3;
}

.sub-headrgt {
    width: 84%;
    text-align: left;
    margin: 0% 0% 1% 4%;
    font-family: gotham;
    font-size: 19px;
    font-weight: 700;
	color: #9FA0A3;
}


img.gamelogo {
    float: right;
    margin: 18px 4px;
}
img.ifmrlogo
{
    float:left;
}
.jumbotron {
    padding: 0.7em 0em;
    text-align: center;
    margin: 0em;
    background: #fff;
    
}
.jumbotron h2 {
color: #005DA6;
box-shadow: 0px -8px 5px -7px #cac2c2;
padding-top: 15px;
font-size: 28px;
/*font-family: gotham;  */
}
hr.my-2 {
    border-top: 0px solid #000;
    display: none;
}
div#tabs-example .tab {
    background-color: #fff;
    color: #0199D6;
    border: 1px solid #0199D6;
    border-top: 0px;
}

div#tabs-example .tab--selected {
    color: #fff;
    background: #0199D6;
}
.graph-box {
    margin: 2em 0em;
}
.filter-box {
    margin: 2em 0em;
    background: #fff;
    padding: 1em;
}
.graph-box .row {
    margin: 0em 0em;
    padding: 0.5em 0.5em;
    width: 46%;
    float: left;
}
.graph-box .row .col {
    margin: 0em 0em;
    padding: 0.5em 0.5em;
}
.lead a {
    color: #fff!important;
    background-color: #4d9ad6!important;
    border-color: #4d9ad6!important;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.overview, .overviewtbl
{
    width:1200px;
}
.overview, .overviewtbl, .businview, .finview, .empview, .houseview {
   
    margin: 0px auto 0px auto;
    padding: 0em 0em 0em 0em;
}
.businview, .finview, .empview, .houseview {
    float: left;
    width: 48%;
}

.businview .col{
    background: #fff;
    padding: 1em 0em 0em 1em;
    margin: 1% 0% 0% 11.5%;
}

.finview .col{
    background: #fff;
    padding: 1em 0em 0em 1em;
    margin: 1% 3% 0% 0%;
}

.empview .col{
    background: #fff;
    padding: 1em 0em 0em 1em;
    margin: 0% 0% 0% 11.5%;
}

.houseview .col {
    background: #fff;
    padding: 1em 0em 0em 1em;
    margin: 0% 3% 5% 0%;
}


.overview.row {
    margin-top: 2em;
    background: #fff;
    /*margin: 30px 36px 0px 36px;
    padding: 1em 0.5em 0em 0.5em;
    box-shadow: 0px 0px 3px 3px #989ca0; */
}
.overview h3 {
    width: 100%;
    padding: 18px;
    color:#9FA0A3;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 0px;
}
.overviewtbl.row {  
    background: #fff;
    margin: 0em auto -1em auto;
    padding: 0em 0.5em 4em 0.5em;
}



#table td {
    border-color: #0199D6!important;
    border-bottom: 2px solid #0199D6 !important;
    border-left: 2px solid #0199D6!important;
    border-right: 2px solid #0199D6!important;
    padding: 5px;
}
/*div#household.graphbox, div#Challenges in operation.graphbox {
    width: 70%;
    margin: 1em auto;
}*/
.graphbox {
    margin:2em 0em 0em 0em;
    padding: 0em;
}

.businview.row .col .graphbox, .finview.row .col .graphbox, .empview.row .col .graphbox, .houseview.row .col .graphbox  {
    margin: 0em;
}


/*
#body .row {
    float: left;
    width: 40%;
    margin: 1% 0% 1% 5%;
    text-align: center;
}*/

h3 a {
    color: #9FA0A3;
    text-transform: uppercase;
    font-size: 23px;
}

#playground-data .row {
    margin: 0em 0em;
    padding: 0em 0em;
    width: 50%;
    float: left;
}
.filter_lbl {
    width: 250px;
}

.gtitle {
    font-size: 14px!important;
}
#g3 .gtitle {
    font-size: 12px !important;
}

g.xaxislayer-above g.xtick text {
    font-size: 10px!important;
}

#c3 g.xaxislayer-above g.xtick text {
    font-size: 8px!important;
}


@media only screen and ( min-width: 1920px ) and ( max-width: 2500px ){
    
		.container {
    max-width: 1700px;
}

#table {
    width: 75%;
    margin: 0px auto;
}
#table th {
    border-color: #0199D6!important;
    width: 120px;
    font-size: 15px
}
.filter_lbl {
    width: 350px;
}


.overview, .overviewtbl {
    width: 1700px;
}

.businview .col {
    background: #fff;
    padding: 1em 0em 0em 1em;
    margin: 1% 0% 0% 11.9%;
}

.finview .col {
    background: #fff;
    padding: 1em 0em 0em 1em;
    margin: 1% 3.5% 0% 0%;
}
.empview .col {
    background: #fff;
    padding: 1em 0em 0em 1em;
    margin: 0% 0% 0% 11.9%;
}
.houseview .col {
    background: #fff;
    padding: 1em 0em 0em 1em;
    margin: 0% 3.5% 5% 0%;
}


}

@media only screen and ( min-width: 1367px ) and ( max-width: 1919px ){
    
    .overview, .overviewtbl {
        width: 1300px;
    }
	.container {
    max-width: 1300px;
}
.filter_lbl {
    width: 350px;
}


#table {
    width: 75%;
    margin: 0px auto;
}
#table th {
    border-color: #0199D6!important;
    width: 120px;
    font-size: 15px
}


    }

@media only screen and ( min-width: 1025px ) and ( max-width: 1366px ){
  
  #table {
    width: 100%;
    margin: 0px auto;
}

#table th {   
    width: 120px;   
}

}


@media only screen and ( min-width: 360px ) and ( max-width: 1024px ){
#table {
    width: 100%;
    margin: 0px auto;
}
#table th {   
    width: 36px;   
}

#playground-data .row {
    margin: 0em 0em;
    padding: 0em 0em;
    width: 100%;
    float: left;
}
.filter_lbl {
    width: 180px;
}


}



 
